---
import IconMenu from '../../icons/IconMenu.astro';
import NavLink from './NavLink.astro';
---

<nav class='flex items-center justify-between py-5 relative'>
  <a class='text-2xl font-bold py-3 block group' href='/'
    ><span
      class='opacity-0 invisible absolute -left-2 bottom-8 m-auto group-hover:opacity-100 group-hover:visible transition-all duration-500 z-10 text-sm'
      >👋</span
    ><span
      class='inline-block group-hover:-translate-y-1 transition-all duration-500'
      >👵</span
    >ABUCHI<span class='text-orange-500'>.ong</span></a
  >
  <ul
    class='flex flex-wrap flex-col items-center justify-center gap-1 shadow-[-5px_-5px_0_rgb(249,115,22),5px_5px_0_#333] absolute z-50 top-24 right-1 px-10 py-6 opacity-0 invisible translate-x-1/2 origin-right lg:visible lg:opacity-100 lg:p-0 lg:flex-row lg:static lg:translate-x-0 lg:shadow-none lg:gap-10 transition-all duration-500'
    id='navMenu'
  >
    <li>
      <NavLink href='Historia' name='Historia' />
    </li>
    <li>
      <NavLink href='NuestroTrabajo' name='Lo que hacemos' />
    </li>
    <li>
      <NavLink href='Blog' name='Blog' />
    </li>
    <li>
      <NavLink href='Involucrarse' name='Involucrarse' />
    </li>
    <button
      class='py-3.5 px-8 bg-black text-white text-center font-semibold hover:shadow-[5px_5px_0] hover:shadow-orange-500 mt-2 lg:mt-0 transition-all'
    >
      DONAR 🧡</button
    >
  </ul>
  <button class='lg:hidden py-3 pl-3' id='btnMenu'>
    <IconMenu />
  </button>
</nav>

<script>
  const menuBtn = document.getElementById('btnMenu');
  const navMenu = document.getElementById('navMenu');

  menuBtn?.addEventListener('click', () => {
    navMenu?.classList.toggle('invisible');
    navMenu?.classList.toggle('opacity-0');
    navMenu?.classList.toggle('translate-x-1/2');
  });
</script>
